/* NAVBAR STYLES */
/* Logo */
.navbar-brand img {
  height: 50px;
  width: auto;
}

/* Links */
.nav-link {
  color: var(--text3) !important;
  font-weight: 600 !important;
  font-size: 1.2rem !important;
  text-decoration: none;
}
.nav-link:hover,
.active {
  color: var(--text2) !important;
}

/* Login / Logout button container */
.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  margin: 10px 0 10px auto;
}

.button {
  width: 8em;
  height: 2.5em;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.button-primary {
  background-color: var(--secondary4);
  color: var(--text4);
}

.button-primary:hover,
.button-primary:active {
  background-color: var(--secondary3);
}

.button-light {
  background-color: var(--secondary1);
  color: var(--text1);
}

.button-light:hover,
.button-light:active {
  background-color: var(--secondary5);
}

.button-dark {
  background-color: var(--main2);
  color: var(--secondary5);
}

.button-dark:hover, .button-dark:active {
  background-color: var(--text3);
}


@media (min-width: 768px) {
  .loginbtn {
    margin-right: 2.3rem !important;
  }

  .dropdown .dropdown-toggle {
    margin-right: 1.5rem;
  }
  .dropdown .dropdown-menu {
    display: block;
    visibility: hidden;
    opacity: 0;
    transform: translateY(50px) translateX(-10px);
    transition: 0.5s ease all;
  }
  .dropdown:hover .dropdown-menu {
    display: block;
    visibility: visible;
    opacity: 1;
    transform: translateY(0px) translateX(-10px);
    transition: 0.5s ease all;
    box-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .navbar-brand img {
    height: 35px;
    width: auto;
  }
  .btn-container .button {
    width: 6em;
  }
}

@media (max-width: 768px) {
  .navbar-brand img {
    height: 35px;
    width: auto;
  }

  .dropdown .dropdown-menu {
    display: block;
    visibility: hidden;
    opacity: 0;
    height: 0;
    transform: translateY(-30px) translateX(-10px);
    transition: 0.5s ease all;
    
  }

  .dropdown:hover .dropdown-menu,
  .dropdown:active .dropdown-menu {
    display: block;
    visibility: visible;
    opacity: 1;
    height: max-content;
    transform: translateY(0px) translateX(-10px);
    transition: 0.5s ease all;
  }

  .btn-container .button {
    width: 15em;
    height: 4ex;
  }
}



/* locality selector */
.selectlocality {
  height: 60px;
  width: 60vw !important;
  box-shadow: 10px 10px 26px -13px rgba(0, 0, 0, 0.75);
  border-radius: 9px;
  background: var(--secondary5);
  color: var(--text1);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.selectlocality div:first-child {
  margin-top: 9px;
}

@media (max-width: 768px) {
  .selectlocality {
    height: fit-content;
    width: 80vw !important;
    padding: 10px 15px;
  }
}

@media only screen and (max-width: 474px){
  .selectlocality {
    height: fit-content;
    flex-wrap: wrap;
  }

  .selectlocality div:first-child {
    width: 100%;
  }

  .selectlocality div:nth-child(2){
    width: 80%;
  }
}

/* footer */
.footer {
  background: var(--text1);
  text-align: center;
  color: var(--text4) !important;
  font-weight: 400 !important;
  font-size: 1.2rem;
  position: relative;
}

@media (max-width : 576px){
  .footer {
    font-size: 1rem;
  }
}