/* NAVBAR STYLES */
/* Logo */
.navbar-brand img {
  height: 50px;
  width: auto;
}

/* Links */
.nav-link {
  color: var(--text3) !important;
  font-weight: 600 !important;
  font-size: 1.2rem !important;
  text-decoration: none;
}
.nav-link:hover,
.active {
  color: var(--text2) !important;
}

/* Login / Logout button container */
.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  margin: 10px 0 10px auto;
}

.button {
  width: 8em;
  height: 2.5em;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.button-primary {
  background-color: var(--secondary4);
  color: var(--text4);
}

.button-primary:hover,
.button-primary:active {
  background-color: var(--secondary3);
}

.button-light {
  background-color: var(--secondary1);
  color: var(--text1);
}

.button-light:hover,
.button-light:active {
  background-color: var(--secondary5);
}

.button-dark {
  background-color: var(--main2);
  color: var(--secondary5);
}

.button-dark:hover, .button-dark:active {
  background-color: var(--text3);
}

@media (min-width: 768px) {
  .dropdown .dropdown-menu {
    display: block;
    visibility: hidden;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s ease all;
  }
  .dropdown:hover .dropdown-menu {
    display: block;
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
    transition: 0.5s ease all;
    box-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .navbar-brand img {
    height: 35px;
    width: auto;
  }
  .btn-container .button {
    width: 6em;
  }
}

@media (max-width: 768px) {
  .navbar-brand img {
    height: 35px;
    width: auto;
  }

  .dropdown .dropdown-menu {
    display: block;
    visibility: hidden;
    opacity: 0;
    height: 0;
    transform: translateY(-30px);
    transition: 0.5s ease all;
  }

  .dropdown:hover .dropdown-menu,
  .dropdown:active .dropdown-menu {
    display: block;
    visibility: visible;
    opacity: 1;
    height: 100px;
    transform: translateY(0px);
    transition: 0.5s ease all;
  }

  .btn-container .button {
    width: 15em;
    height: 4ex;
  }
}

/* Featured cards */

.featurecard.card {
  box-shadow: 10px 10px 26px -13px rgba(0, 0, 0, 0.75);
  border: none !important;
  overflow: hidden;
  margin: 0 10px !important;
  background: var(--main2);
  color: var(--secondary5);
  position: relative;
}

.featurecard .card-body > p {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  display: -webkit-box !important;
  -webkit-line-clamp: 3 !important;
  line-clamp: 3 !important;
  -webkit-box-orient: vertical !important;
}

.featurecard .card-body h6 {
  color: var(--text4);
  font-weight: 600;
  letter-spacing: 0.1rem;
}

.featurecard .card-body small {
  position: absolute;
  bottom: 8px;
  right: 8px;
}

@media (min-width: 992px) and (max-width: 1400px) {
  .card {
    width: 800px !important;
    height: 200px !important;
  }
}

@media (max-width: 992px) and (min-width: 768px) {
  .card {
    height: 500px !important;
    width: 500px !important;
  }

  .card-img > img {
    display: block;
    width: 100%;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 16 / 9;
  }

  .featurecard .card-body {
    text-align: center !important;
  }

  .featurecard .card-body > p {
    -webkit-line-clamp: 2 !important;
    line-clamp: 2 !important;
    -webkit-box-orient: vertical !important;
  }

  .featurecard .card-body small {
    position: relative !important;
  }

}

@media (max-width: 768px) {
  .card {
    height: 450px !important;
    width: 450px !important;
  }

  .card-img > img {
    display: block;
    width: 100%;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 16 / 9;
  }

  .featurecard .card-body {
    text-align: center !important;
    margin: auto;
    align-self: center;
  }

  .featurecard .card-body > p {
    -webkit-line-clamp: 3 !important;
    line-clamp: 3 !important;
    -webkit-box-orient: vertical !important;
  }



}


/* locality selector */
.selectlocality {
  height: 60px;
  width: 60vw !important;
  box-shadow: 10px 10px 26px -13px rgba(0, 0, 0, 0.75);
  border-radius: 9px;
  background: var(--secondary5);
  color: var(--text1);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

@media (max-width: 768px) {
  .selectlocality {
    height: fit-content;
    width: 80vw !important;
    padding: 10px 15px;
  }
}

/* No locality data card */
.nolocalitydata{
  height: 40dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}



/* footer */
.footer {
  background: var(--text1);
  text-align: center;
  color: var(--text4) !important;
  font-weight: 400 !important;
  font-size: 1.2rem;
  position: relative;
}